<%- include('../partials/head', {title :message}) %>
<div id="app">
    <div id="home">
        <div class="welcome text-center">
            <h3 class="mb-4">Something Went Wrong.</h3>
            <a href="/games/" class="btn btn-danger">Home Page</a>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>